.banner {
    width: 100vw;
    height: 30vh;
    background-position: center;
    background-size: cover;
}

.avatar__user-profile {
    width: 7em;
    height: 7em;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}