.avatar {
    width: 3em;
    height: 3em;
    border-radius: 18px;
    background-size: cover;
    background-position: top;
    transition: 2s cubic-bezier(1, 0, 0, 1);
}

.avatar:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feedPhoto {
    width:50em;
    height:50em;
    background-size: cover;
    background-position: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    background-color: #F2F2F2;
}

.activity {
    margin-top: 30px;
    width: 70%;
    font-weight: 300;
    color: rgba(0, 0, 0, .5)
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.user {
    display: flex;
    column-gap: 30px;
    width: 100%;
}

.text {
    color: rgba(0, 0, 0, .5);
    transition: .5s cubic-bezier(1, 0, 0, 1);
}

.text:hover {
    color: #026670
}

.info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.setting {
    color: rgba(0, 0, 0, .5);
}

.comment {
    font-size: 25px;
    color: rgba(0, 0, 0, .4);
    transition: .5s cubic-bezier(1, 0, 0, 1);
    cursor: pointer;
}

.comment:hover {
    color: #026670;
}

.cardIcons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 10px;
    margin-top: 10px;
}
