.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    padding: 15px;
    margin-top: 20px;
    width: 60%;
    background-color: white;
}

.addAnAlbum {
    text-align: left;
    align-self: flex-start;
    margin-left: 20px;
    color: rgba(0, 0, 0, .8); 
    font-size: 18px; 
    font-weight: 300; 
    margin-bottom: 0px; 
}

.counter {
    text-align: left;
    align-self: flex-start;
    margin-left: 20px;
    color: rgba(0, 0, 0, .8); 
    font-size: 14px; 
    font-weight: 300; 
    margin-top: -20px;
}

.editTitle {
    color: rgba(0, 0, 0, .9); 
    font-size: 14px; 
    font-weight: 300; 
    margin-top: 20px;
    margin-bottom: -10px;
}

.goBack {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    cursor: pointer; 
}

.goBack:hover {
    color: #026670;
}

.photoWrapper {
    width: fit-content;
}

.allPhotos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
    width: 90%;
}

.button {
    background-color: #F2F2F2;
    border: 3px solid #026670;
    color: #026670;
    padding: 8px;
    font-weight: 600;
    margin-top: 20px;
    position: fixed;
    left: 200px;
    bottom: 100px;
    cursor: pointer;
}

.button:hover {
    background-color: #026670;
    color: white;
}

.directions {
  width: 80%;
  text-align: center;
  color: rgba(0, 0, 0, .7);
  margin-bottom: 20px;
  padding: 30px;
}


@media screen and (max-width: 480px) {
    .form {
        width: 80%;
    }

    .addAnAlbum {
        align-self: center;
    }

    .counter {
        align-self: center;
    }

    .goBack {
        align-self: flex-start;
        margin-left: 30px;
    }

    .button {
        visibility: hidden;
        position: fixed;
        bottom: 15px;
    }

    .button:after {
        content: '+';
        visibility: visible;
        padding: 10px 20px;
        border-radius: 50%;
        font-size: 30px;
        background-color: #026670;
        color: white;
    }
}