.banner {
    width: 82.55%;
    height: 15vh;
    background-size: cover;
    background-position: center;
    transform: translateY(34.5px);
    display: flex;
    align-items: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 22px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .85);
    margin: 0px 0px 20px 50px;
    padding: 1.5px 5px;
    background-color: rgba(0, 0, 0, .5);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}