.nav {
  display: flex;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  animation: moveDown 0.5s ease-in-out;
  width: 100%;
  z-index: 100;
}

.wrapper {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@media screen and (max-width: 480px) {
  .photostream span {
    display: none;
  }

  .photostream:after {
    content: 'Photos';
  }

  .edit span {
    display: none;
  }

  .edit:after {
    content: 'Edit'
  }

  .favorites span {
    display: none;
  }

  .favorites:after {
    content: 'Favs'
  }

  .wrapper {
    width: 90%;
    justify-content: space-between;
  }

}