.nav {
  display: flex;
  justify-content: center;
  height: 50px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px;
}

.wrapper {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}


